@model Hospital.Models.Medicamento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Medicamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DescEspec" class="control-label"></label>
                <input asp-for="DescEspec" class="form-control" />
                <span asp-validation-for="DescEspec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMax" class="control-label"></label>
                <input asp-for="EstoqueMax" class="form-control" />
                <span asp-validation-for="EstoqueMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantEstoque" class="control-label"></label>
                <input asp-for="QuantEstoque" class="form-control" />
                <span asp-validation-for="QuantEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMin" class="control-label"></label>
                <input asp-for="EstoqueMin" class="form-control" />
                <span asp-validation-for="EstoqueMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecUni" class="control-label"></label>
                <input asp-for="PrecUni" class="form-control" />
                <span asp-validation-for="PrecUni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
